#page-brand {
    width: 15px;
    height: 15px;
}

.sis-bg-color {
    background-color: #d5a10d;
}
/* Style the search box inside the navigation bar */
.col-6 input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
